{% extends "base.jinja" %}
{% block head %}
  {{super()}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block content %}
  <h5>Get Recommendations</h5>
  <div class="row">
    <form method="post" action="get_recs" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" name="name" class="validate">
          <label for="icon_prefix">Player Name</label>
          <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <h5>Get Friends</h5>
  <div class="row">
    <form method="post" action="get_friend" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" name="name" class="validate">
          <label for="icon_prefix">Player Name</label>
          <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
